.ProgressBar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2000;

  height: 5px;
  width: 100%;
  background-color: #1976d2;

  .indicator {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    // background-color: #ffe11e;
    background-image: linear-gradient(
      45deg,
      #b1cda4 25%,
      #94887e 25%,
      #94887e 50%,
      #b1cda4 50%,
      #b1cda4 75%,
      #94887e 75%,
      #94887e 100%
    );
    background-size: 40px 40px;
    animation: stripes 1s linear infinite;
  }
}
