services:
  backend:
    build:
      context: backend
    container_name: trees-backend
    command: /app/startup.sh
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - uploads:/uploads
    environment:
      - RUST_LOG=info,treemap=debug
      - TREEMAP_SQLITE_PATH=/app/var/database.sqlite

  frontend:
    build:
      context: frontend
    container_name: trees-frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - VITE_ENVIRONMENT=development
      - API_ROOT="http://127.0.0.1:8000/"
    volumes:
      - ./frontend:/app
      - /app/node_modules  # Prevents overwriting node_modules
    depends_on:
      - backend

volumes:
  uploads:
