.EditTreeDialog {
  .group {
    margin-bottom: 20px;
  }

  .wide .MuiFormControl-root {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .short {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
    }
  }

  .error {
    background-color: #800;
    color: #fff;
    padding: 4px;
  }
}
