.DetailsPage {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  .MapWithMarker {
    height: 450px;
    max-height: 50vh;
    border-radius: 5px;
  }

  .TreeDetails, .MapWithMarker {
    border: 0.5px solid rgb(209, 220, 224);
    border-radius: 5px;
  }

  .MuiButtonGroup-root {
    margin: 20px 0;
  }

  .message {
    margin: 10px 0;
  }

  .Gallery {
    margin: 20px 0;
  }

  .toolbar {
    margin: 20px 0;

    .MuiButtonGroup-root {
      margin: 0;
    }

    button {
      width: 50px;
      height: 50px;
    }
  }
}
