.Toolbar {
  margin: var(--gap) 0;
  font-size: 14px;
  font-weight: 100;
  height: 40px;

  .buttons {
    height: 40px;
    border-radius: 5px;
    overflow: hidden;

    background-color: var(--toolbar-background-color);
    color: var(--toolbar-button-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

    display: inline-block;
  }

  button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 16px;
    color: var(--toolbar-button-color);
    margin: 0;
    line-height: 40px;

    .icon, .label {
      display: inline-block;
    }

    .icon {
      margin-right: 5px;
    }

    &:hover {
      background-color: var(--toolbar-hover-color);
      border-right: solid var(--toolbar-hover-color) 1px;
      transition: background-color 0.5s;
    }

    border-right: solid var(--toolbar-hover-color) 1px;

    &:last-child {
      border-right: none;
    }
  }

  .phone & {
    margin: 0;
    z-index: 10;
    height: 50px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .buttons {
      height: 50px;
      display: block;
      overflow: visible;
      display: flex;
      flex-direction: row;
      border-radius: 0;

      > * {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 20%;
      }

      button {
        border: none;

        .icon {
          display: block;
          line-height: 20px;
          margin-top: 5px;
        }
        .label {
          display: block;
          font-size: 13px;
          line-height: 25px;
        }
      }
    }

    button:nth-child(3) {
      background-color: var(--toolbar-center-color);
      border-radius: 50%;
      height: 60px;
      width: 60px;
      color: #fff;
      margin-top: -15px;

      flex-basis: 60px;
      flex-grow: 0;
      flex-shrink: 0;

      .icon {
        margin: 0;
        height: 20px;

        svg {
          height: 20px;
          width: 20px;
        }
      }

      .label {
        display: none;
      }
    }
  }

  .desktop .SideBar & {
    button .label {
      display: none;
    }
  }
}
