.MoveTreeDialog {
  .buttons {
    button {
      margin-right: 10px;
    }
  }

  .error {
    background-color: #800;
    color: #fff;
    padding: 4px;
  }

  .phone & {
    padding-bottom: 20px;
  }
}
