.TreeDetails {
  margin: 0 0 20px;
  background-color: #fff;
  overflow: hidden;

  .inside {
    padding: 20px;
  }

  img.thumbnail {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  &.state-sick {
    background-color: #FF7F50;
  }

  &.state-dead {
    background-color: #FF4500;
    color: #fff;
  }

  &.state-gone {
    background-color: #800;
    color: #fff;
  }

  h2 {
    margin: 0 0 10px;
  }

  .treeId {
    opacity: 0.5;
    font-size: 0.8rem;
  }

  .props {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto;
    margin: 10px 0 0;

    div {
      white-space: nowrap;
    }
  }
}
