.TreeDetails {
  margin: 0 0 20px;
  padding: 20px;
  background-color: #fff;

  h2 {
    margin: 0 0 20px;
  }

  .treeId {
    opacity: 0.5;
    font-size: 0.8em;
  }

  ul.props {
    padding-left: 1em;
  }
}
