.SideBar {
  width: 360px;
  min-width: 360px;
  padding: 10px;
  box-sizing: border-box;
}

@media (orientation: portrait) {
  .SideBar {
    min-width: 100%;
    max-width: 100%;
  }
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .SideBar {
    max-height: 50vh;
  }
}
