.ConfirmCancelButtons {
  button {
    margin-right: 10px;
  }

  .phone & {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

    background-color: var(--background-color);
  }
}
