# This workflow builds and deploys the backend to Fly.io
#
# The workflow uses some caching to speed up Docker builds.
#
# The access token should be configured in the FLY_API_TOKEN secret here:
# https://github.com/umonkey/treemap/settings/secrets/actions
#
# To get a new token, use "fly tokens create".
#
# Review how the app is running here:
# https://fly.io/apps/treemap-blue-frog-3927

name: Deploy Backend

on:
  push:
    branches:
      - master
    paths:
      - 'backend/**'
  pull_request:
    paths:
      - 'backend/**'
  workflow_dispatch:

env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Fly Registry
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          registry: registry.fly.io
          username: x
          password: ${{ secrets.FLY_API_TOKEN }}

      - name: Set up flyctl
        if: github.ref == 'refs/heads/master'
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Get Short SHA
        run: echo "REVISION=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: backend
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: registry.fly.io/treemap-blue-frog-3927:${{ env.REVISION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Fly.io
        if: github.ref == 'refs/heads/master'
        run: flyctl deploy --image registry.fly.io/treemap-blue-frog-3927:${{ env.REVISION }}
