name: publish-image

on:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Cache temporary folders
      uses: actions/cache@v4
      with:
        path: |
          backend/target
          frontend/node_modules
          .cache
        key: ${{ runner.os }}

    - name: Log in to the container registry
      run: make cr-login
      env:
        CR_USER: ${{ github.actor }}
        CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Test the backend
      run: make -C backend lint test

    - name: Test the frontend
      run: make -C frontend install lint test

    - name: Build the image
      run: make build-image
      env:
        API_ROOT: "https://yerevan.treemaps.app/"

    - name: Publish the image
      run: make publish-image
