name: "Backend tests"

on:
  pull_request:
    paths: 'backend/**'
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  linter:
    name: "Linter"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
    - uses: actions/checkout@v4

    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.7

    # Adds cache with some defaults, see https://github.com/marketplace/actions/rust-cache
    - uses: Swatinem/rust-cache@v2

    - name: Run tests
      run: |
        cargo clippy
        cargo fmt --check

  unit:
    name: "Unit tests"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
    - uses: actions/checkout@v4

    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.7

    # Adds cache with some defaults, see https://github.com/marketplace/actions/rust-cache
    - uses: Swatinem/rust-cache@v2

    - name: Run tests
      run: |
        mkdir -p var
        cargo test --verbose
